{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
<div class="container d-flex justify-content-center my-3 w-50 text-center">
  <div>
    <h1>{{ movie.title }}</h1>
    <hr>
    <p>{{ movie.running_time }}분</p>
    <hr>
    <p>{{ movie.summary }}</p>
    <hr>
    <a href="{% url 'movies:update' movie.pk %}" class="btn btn-primary">수정하기</a>
    <a href="{% url 'movies:index' %}" class="btn btn-primary">돌아가기</a>
    <form action="{% url 'movies:delete' movie.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제" class="btn btn-danger">
    </form>
  </div>
</div>
{% endblock %}