{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
<h1 class="text-center my-3 fw-bold">{{ user.username }}</h1>
<h2 class="text-center my-4 fw-bold">email: {{ user.email }}</h2>
<h2 class="text-center my-4 fw-bold">name: {{ user.full_name }}</h2>
<div class="container d-flex justify-content-center">
  <a href="{% url 'articles:index' %}" class="btn btn-success mx-2">커뮤티니로</a>
  <a href="{% url 'accounts:accounts' %}" class="btn btn-primary mx-2">계정</a>
  <a href="{% url 'accounts:update' %}" class="btn btn-warning mx-2">계정 관리</a>
  <button type="button" class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">삭제</button>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">삭제</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          정말 삭제하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <form action="{% url 'accounts:delete' user.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제" class="btn btn-danger">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between mx-3 my-3 w-70">
  <div class="col-6">
    <h3>작성한 글</h3>
    <p class="text-muted">{{ user.article_set.count }}</p>
    {% for article in user.article_set.all %}
    <p>
      {{ forloop.counter }}
      <a href="">{{ article.title }}</a>
    </p>
    {% endfor %}
  </div>
  <div class="col-6">
    <h3>작성한 댓글</h3>
    <p class="text-muted">{{ user.comment_set.count }}</p>
    {% for article in user.comment_set.all %}
    <p>
      {{ forloop.counter }}
      <a href="">{{ article.title }}</a>
    </p>
    {% endfor %}
  </div>
</div>
{% endblock body %}