{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
<div class="container d-block justify-content-center my-3 w-50 text-center">
  <h1 class="fw-bold">프로필 수정</h1>
  <hr>
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <a href="{% url 'accounts:password' %}" class="btn btn-warning">비밀번호 변경</a>
    {% bootstrap_button button_type="submit" content="Update" %}
    <a href="{% url 'accounts:detail' user.pk %}" class="btn btn-danger">돌아가기</a>
  </form>
</div>
{% endblock %}